#accelPermsBtn {
    font-family: 'Press Start 2P', cursive;
    position: fixed;
    left: 25%;
    width: 50%;
    right: 25%;
    top: 40%
}

.indicatorDot {
    left: 50%;
    top: 50%;
    width: 30px;
    height: 30px;
    background-color: #ffab56;
    border-radius: 50%;
    position:fixed;
}

.hide {
    display: none;
}