#accelPermsBtn {
    font-family: 'Press Start 2P', cursive;
    font-size: 1rem;
    position: fixed;
    margin: 5%;
}

.indicatorDot {
    left: 50%;
    top: 50%;
    width: 30px;
    height: 30px;
    background-color: #ffab56;
    border-radius: 50%;
    position:fixed;
}

.hide {
    display: none;
}