body {
  text-align: center;
  background-color: #011f3f;
}

:root {
  --cell-size-small: 70px;
  --cell-size-medium: 100px;
  --cell-size-large: 130px;

  --ball-size-small: 14px;
  --ball-size-medium: 20px;
  --ball-size-large: 26px;

  --fs-small: 1rem;
  --fs-medium: 1.5rem;
  --fs-large: 1.8rem;
}

.accelPermsBtn {
  height: 200px;
  display: block;
  border: 3px;
  background: #011f3f;
  font-family: "Press Start 2P", cursive;
  color: #fef2bf;
  font-size: var(--fs-small);
  margin: 5%;
}

.level-title {
  height: 200px;
  display: none;
  border: 3px;
  font-family: "Press Start 2P", cursive;
  color: #fef2bf;
  font-size: var(--fs-small);
  margin: 5%;
}

.screen {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  border: 5px solid #ccc;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: space-between;
  border-radius: 5px;
  flex-direction: column;
}

.container {
  margin-bottom: 5%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-color: #ccc;
  position: relative;
}
.row {
  display: flex;
  flex-direction: row;
}

.container-item {
  width: var(--cell-size-small);
  height: var(--cell-size-small);
  border-radius: 10px;
}

.ball {
  position: absolute;
  left: calc(var(--cell-size-small) * 3 / 2 - var(--ball-size-small) / 2);
  top: calc(var(--cell-size-small) * 3 / 2 - var(--ball-size-small) / 2);
  width: var(--ball-size-small);
  height: var(--ball-size-small);
  background-color: #ffab56;
  border-radius: 50%;
}

@media (min-width: 350px) {
  .container-item {
    width: var(--cell-size-medium);
    height: var(--cell-size-medium);
    border-radius: 10px;
  }
  .accelPermsBtn,
  .level-title {
    font-size: var(--fs-medium);
  }

  .ball {
    left: calc(var(--cell-size-medium) * 3 / 2 - var(--ball-size-medium) / 2);
    top: calc(var(--cell-size-medium) * 3 / 2 - var(--ball-size-medium) / 2);
    width: var(--ball-size-medium);
    height: var(--ball-size-medium);
  }
}

@media (min-width: 800px) {
  .container-item {
    width: var(--cell-size-large);
    height: var(--cell-size-large);
  }
  .accelPermsBtn,
  .level-title {
    font-size: var(--fs-large);
  }
  .ball {
    left: calc(var(--cell-size-large) * 3 / 2 - var(--ball-size-large) / 2);
    top: calc(var(--cell-size-large) * 3 / 2 - var(--ball-size-large) / 2);
    width: var(--ball-size-large);
    height: var(--ball-size-large);
  }
}

.container-item1 {
  background-color: #ccc;
}
.container-item2 {
 
  background-color: green;
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 0%;
}
.container-item3 {
 
  background-color: #ccc;
}

.container-item4 {

  background-color: red;
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
}
.container-item5 {
  
  background-color: white;
  border-radius: 0%;
}
.container-item6 {
  
  background-color: gold;
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
}

.container-item7 {
  
  background-color: #ccc;
}
.container-item8 {
  
  background-color: blue;
  border-top-left-radius: 0%;
  border-top-right-radius: 0%;
}
.container-item9 {
  
  background-color: #ccc;
}

.hide {
  display: none;
}
.output {
  color: white;
}
.game-over {
  background-color: red;
  opacity: 0.8;
}



.green-pressed {
  background-color: #32cd32;
  border-color: #32cd32;
}

.blue-pressed {
  background-color: #4169e1;
  border-color: #4169e1;
}

.red-pressed {
  background-color: #ff6347;
  border-color: #ff6347;
}

.yellow-pressed {
  background-color: yellow;
  border-color: yellow;
}
