body {
  text-align: center;
  background-color: #011f3f;
}

:root {
  --cell-size-small: 70px;
  --cell-size-medium: 100px;
  --cell-size-large: 130px;

  --ball-size-small: 14px;
  --ball-size-medium: 20px;
  --ball-size-large: 26px;

  --fs-small: 1rem;
  --fs-medium: 1.5rem;
  --fs-large: 1.8rem;
}

/* press-start-2p-regular - latin */
@font-face {
  font-family: 'Press Start 2P';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/press-start-2p-v9-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/press-start-2p-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/press-start-2p-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/press-start-2p-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/press-start-2p-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/press-start-2p-v9-latin-regular.svg#PressStart2P') format('svg'); /* Legacy iOS */
}

.accelPermsBtn {
  height: 200px;
  display: block;
  border: 3px;
  background: #011f3f;
  font-family: "Press Start 2P", cursive;
  color: #fef2bf;
  font-size: var(--fs-small);
  margin: 5%;
}

.level-title {
  height: 200px;
  display: none;
  border: 3px;
  font-family: "Press Start 2P", cursive;
  color: #fef2bf;
  font-size: var(--fs-small);
  margin: 5%;
}

.screen {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  /* border: 5px solid #ccc; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: space-between;
  border-radius: 5px;
  flex-direction: column;
}

.container {
  /* width: 360px;
    height: 360px; */
  /* min-width: 312px;
    min-height: 312px; */
  margin-bottom: 5%;
  /* border: 5px solid #CCC; */
  /* border:none; */
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-color: #011f3f;
  position: relative;
}
.row {
  display: flex;
  flex-direction: row;
}

.container-item {
  width: var(--cell-size-small);
  height: var(--cell-size-small);
  border-radius: 10px;
  background-color: #011f3f;
}

.ball {
  position: absolute;
  left: calc(var(--cell-size-small) * 3 / 2 - var(--ball-size-small) / 2);
  top: calc(var(--cell-size-small) * 3 / 2 - var(--ball-size-small) / 2);
  width: var(--ball-size-small);
  height: var(--ball-size-small);
  /* background-color: #ffab56; */
  background-color: white;
  border-radius: 50%;
}

@media (min-width: 350px) {
  .container-item {
    width: var(--cell-size-medium);
    height: var(--cell-size-medium);
    border-radius: 10px;
  }
  .accelPermsBtn,
  .level-title {
    font-size: var(--fs-medium);
  }

  .ball {
    left: calc(var(--cell-size-medium) * 3 / 2 - var(--ball-size-medium) / 2);
    top: calc(var(--cell-size-medium) * 3 / 2 - var(--ball-size-medium) / 2);
    width: var(--ball-size-medium);
    height: var(--ball-size-medium);
  }
}

@media (min-width: 800px) {
  .container-item {
    width: var(--cell-size-large);
    height: var(--cell-size-large);
  }
  .accelPermsBtn,
  .level-title {
    font-size: var(--fs-large);
  }
  .ball {
    left: calc(var(--cell-size-large) * 3 / 2 - var(--ball-size-large) / 2);
    top: calc(var(--cell-size-large) * 3 / 2 - var(--ball-size-large) / 2);
    width: var(--ball-size-large);
    height: var(--ball-size-large);
  }
}


.container-item2 {
  /* border: 2px solid green; */
  background-color: green;
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 0%;
}


.container-item4 {
  /* border: 2px solid red; */
  background-color: red;
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
}
.container-item5 {
  /* border: 2px solid white; */
  background-color: #011f3f;
  border-radius: 0%;
}
.container-item6 {
  /* border: 2px solid gold; */
  background-color: gold;
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
}


.container-item8 {
  /* border: 2px solid blue; */
  background-color: blue;
  border-top-left-radius: 0%;
  border-top-right-radius: 0%;
}


.hide {
  display: none;
}
.output {
  color: white;
}
.game-over {
  background-color: red;
  opacity: 0.8;
}

/* .pressed {
    background-color: #04AA6D;
  }   */

.green-pressed {
  background-color: #32cd32;
  border-color: #32cd32;
}

.blue-pressed {
  background-color: #4169e1;
  border-color: #4169e1;
}

.red-pressed {
  background-color: #ff6347;
  border-color: #ff6347;
}

.yellow-pressed {
  background-color: yellow;
  border-color: yellow;
}
